In [8]:
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
# dataframe for demand log
df_demand_log = pd.read_excel('FruitSoul Demand Log Fixed.xlsx')
df_demand_log['Earliest Delivery Date'] = df_demand_log['Earliest Delivery Date'].dt.date
df_demand_log['Preferred Delivery Date'] = df_demand_log['Preferred Delivery Date'].dt.date
df_demand_log['Latest Delivery Date'] = df_demand_log['Latest Delivery Date'].dt.date
df_demand_log

,DemandID,Demand Request Date,Mix,Jar Size (vol. ounces),State,Quantity,Earliest Delivery Date,Preferred Delivery Date,Latest Delivery Date
0,1,2021-01-01,Apple-Mango,8,Maryland,1,2021-01-01,2021-01-04,2021-01-07
1,2,2021-01-01,Blueberry-Lemon,32,Kentucky,1,2021-01-04,2021-01-06,2021-01-09
2,3,2021-01-01,Orange-Passionfruit,16,Minnesota,1,2021-01-07,2021-01-10,2021-01-11
3,4,2021-01-01,Orange-Passionfruit,16,California,1,2021-01-07,2021-01-11,2021-01-14
4,5,2021-01-01,Orange-Passionfruit,32,Louisiana,1,2021-01-01,2021-01-04,2021-01-10
...,...,...,...,...,...,...,...,...,...
835374,835375,2023-12-31,Orange-Passionfruit,32,Arizona,1,2023-12-31,2024-01-05,2024-01-13
835375,835376,2023-12-31,Peach-Raspberry,32,California,1,2023-12-31,2024-01-01,2024-01-01
835376,835377,2023-12-31,Blueberry-Lemon,16,Arizona,1,2023-12-31,2024-01-02,2024-01-02
835377,835378,2023-12-31,Strawberry-Kiwi,8,California,1,2023-12-31,2024-01-03,2024-01-03
835378,835379,2023-12-31,Grape-Pomegranate,8,Missouri,1,2023-12-31,2024-01-02,2024-01-02

In [10]:
df_delivery_costs_and_times = pd.read_excel('FruitSoul Expected Delivery Costs and Times.xlsx')
df_delivery_costs_and_times

,Destination State,Approximate distance from Stone Mountain (miles),Expected Delivery Cost From Stone Mountain (USD/ounce),Expected Delivery Time From Stone Mountain (days)
0,Alabama,150,0.9200,1
1,Alaska,3410,2.7750,5
2,Arizona,1840,2.7750,5
3,Arkansas,450,1.0950,3
4,California,2170,2.7750,5
5,Colorado,1210,1.7625,5
6,Connecticut,870,1.4075,5
7,Delaware,690,1.4075,5
8,Florida,440,1.0950,3
9,Georgia,0,0.9100,1
10,Hawaii,4480,2.7750,5
11,Idaho,2160,2.7750,5
12,Illinois,720,1.4075,5
13,Indiana,420,1.0950,3
14,Iowa,870,1.4075,5
15,Kansas,880,1.4075,5
16,Kentucky,320,1.0950,3
17,Louisiana,480,1.0950,4
18,Maine,1280,1.7625,5
19,Maryland,680,1.4075,5
20,Massachusetts,1060,1.7625,5
21,Michigan,780,1.4075,5
22,Minnesota,1130,1.7625,5
23,Mississippi,350,1.0950,3
24,Missouri,690,1.4075,5
25,Montana,2060,2.7750,5
26,Nebraska,1050,1.7625,5
27,Nevada,2080,2.7750,5
28,New Hampshire,1100,1.7625,5
29,New Jersey,770,1.4075,5
30,New Mexico,1350,1.7625,5
31,New York,870,1.4075,5
32,North Carolina,360,1.0950,3
33,North Dakota,1390,1.7625,5
34,Ohio,550,1.0950,4
35,Oklahoma,2170,2.7750,5
36,Oregon,800,1.4075,5
37,Pennsylvania,960,1.4075,5
38,Rhode Island,300,0.9800,2
39,South Carolina,1280,1.7625,5
40,South Dakota,230,0.9800,2
41,Tennessee,740,1.4075,5
42,Texas,800,1.4075,5
43,Utah,1740,2.2200,5
44,Vermont,1030,1.7625,5
45,Virginia,520,1.0950,4
46,Washington,2180,2.7750,5
47,West Virginia,500,1.0950,4
48,Wisconsin,700,1.4075,5
49,Wyoming,1550,2.2200,5

Code in progress...

In [11]:
# Add shipping date columns
# Merge df_demand_log with df_delivery_costs_and_times to get the delivery times for each state
df_merged = df_demand_log.merge(df_delivery_costs_and_times, left_on='State', right_on='Destination State')

# Calculate the new shipping dates
df_merged['Earliest Acceptable Shipping Date'] = df_merged['Earliest Delivery Date'] - pd.to_timedelta(df_merged['Expected                     Delivery Time     From Stone Mountain (days)'], unit='d')
df_merged['Preferred Shipping Date'] = df_merged['Preferred Delivery Date'] - pd.to_timedelta(df_merged['Expected                     Delivery Time     From Stone Mountain (days)'], unit='d')
df_merged['Latest Acceptable Shipping Date'] = df_merged['Latest Delivery Date'] - pd.to_timedelta(df_merged['Expected                     Delivery Time     From Stone Mountain (days)'], unit='d')

# Drop the extra columns from the merge
df_demand_log = df_merged.drop(columns=['Destination State', 'Approximate distance from Stone Mountain (miles)', 'Expected Delivery Cost From Stone Mountain (USD/ounce)', 'Expected                     Delivery Time     From Stone Mountain (days)'])

/var/folders/1g/8vbqswf55db7cq6z4fs9npbr0000gn/T/ipykernel_85296/1284135513.py:6: PerformanceWarning: Adding/subtracting object-dtype array to TimedeltaArray not vectorized.
  df_merged['Earliest Acceptable Shipping Date'] = df_merged['Earliest Delivery Date'] - pd.to_timedelta(df_merged['Expected                     Delivery Time     From Stone Mountain (days)'], unit='d')
/var/folders/1g/8vbqswf55db7cq6z4fs9npbr0000gn/T/ipykernel_85296/1284135513.py:7: PerformanceWarning: Adding/subtracting object-dtype array to TimedeltaArray not vectorized.
  df_merged['Preferred Shipping Date'] = df_merged['Preferred Delivery Date'] - pd.to_timedelta(df_merged['Expected                     Delivery Time     From Stone Mountain (days)'], unit='d')
/var/folders/1g/8vbqswf55db7cq6z4fs9npbr0000gn/T/ipykernel_85296/1284135513.py:8: PerformanceWarning: Adding/subtracting object-dtype array to TimedeltaArray not vectorized.
  df_merged['Latest Acceptable Shipping Date'] = df_merged['Latest Delivery Date'] - pd.to_timedelta(df_merged['Expected                     Delivery Time     From Stone Mountain (days)'], unit='d')

In [14]:
# Ensure date columns are in datetime (I'm getting an error, not sure if this is neccessary)
df_demand_log['Earliest Delivery Date'] = pd.to_datetime(df_demand_log['Earliest Delivery Date'])
df_demand_log['Preferred Delivery Date'] = pd.to_datetime(df_demand_log['Preferred Delivery Date'])
df_demand_log['Latest Delivery Date'] = pd.to_datetime(df_demand_log['Latest Delivery Date'])
df_demand_log['Demand Request Date'] = pd.to_datetime(df_demand_log['Demand Request Date'])

# If the shipping date columns are not already datetime, also ensure they are converted
df_demand_log['Earliest Acceptable Shipping Date'] = pd.to_datetime(df_demand_log['Earliest Acceptable Shipping Date'])
df_demand_log['Preferred Shipping Date'] = pd.to_datetime(df_demand_log['Preferred Shipping Date'])
df_demand_log['Latest Acceptable Shipping Date'] = pd.to_datetime(df_demand_log['Latest Acceptable Shipping Date'])

In [15]:
# Calculate the order-to-ship times
df_demand_log['Minimal Order-to-Ship Time'] = (df_demand_log['Earliest Acceptable Shipping Date'] - df_demand_log['Demand Request Date']).dt.days
df_demand_log['Customer-Preferred Order-to-Ship Time'] = (df_demand_log['Preferred Shipping Date'] - df_demand_log['Demand Request Date']).dt.days
df_demand_log['Maximal Order-to-Ship Time'] = (df_demand_log['Latest Acceptable Shipping Date'] - df_demand_log['Demand Request Date']).dt.days

In [16]:
# Computing demand histories
preferred_shipping_demand_history = df_demand_log.groupby(['Preferred Shipping Date', 'Mix']).agg({'Quantity': 'sum'}).reset_index()
earliest_shipping_demand_history = df_demand_log.groupby(['Earliest Acceptable Shipping Date', 'Mix']).agg({'Quantity': 'sum'}).reset_index()
latest_shipping_demand_history = df_demand_log.groupby(['Latest Acceptable Shipping Date', 'Mix']).agg({'Quantity': 'sum'}).reset_index()

# Smoothing
def smooth_demand(row):
    num_days = (row['Latest Acceptable Shipping Date'] - row['Earliest Acceptable Shipping Date']).days + 1
    daily_demand = row['Quantity'] / num_days
    return daily_demand

df_demand_log['Smoothed Daily Demand'] = df_demand_log.apply(smooth_demand, axis=1)

# Agg smoothed demand over range of dates
smoothed_demand_history = []

for _, row in df_demand_log.iterrows():
    for day in pd.date_range(row['Earliest Acceptable Shipping Date'], row['Latest Acceptable Shipping Date']):
        smoothed_demand_history.append({
            'Date': day,
            'Mix': row['Mix'],
            'Smoothed Daily Demand': row['Smoothed Daily Demand']
        })

df_smoothed_demand_history = pd.DataFrame(smoothed_demand_history)
final_smoothed_demand_history = df_smoothed_demand_history.groupby(['Date', 'Mix']).agg({'Smoothed Daily Demand': 'sum'}).reset_index()

In [ ]:
# General analysis to look at data
aggregated_demand_history = df_demand_log.groupby(['Preferred Shipping Date']).agg({'Quantity': 'sum'}).reset_index()

# Similarly for earliest, latest, and smoothed histories
aggregated_earliest_history = earliest_shipping_demand_history.groupby(['Earliest Acceptable Shipping Date']).agg({'Quantity': 'sum'}).reset_index()
aggregated_latest_history = latest_shipping_demand_history.groupby(['Latest Acceptable Shipping Date']).agg({'Quantity': 'sum'}).reset_index()
aggregated_smoothed_history = final_smoothed_demand_history.groupby(['Date']).agg({'Smoothed Daily Demand': 'sum'}).reset_index()